/* frontend/src/styles.css */

/* Reset some basic styles */
body, html, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

h1 {
  text-align: center;
  padding: 10px 0;
  background-color: #282c34;
  color: white;
  margin: 0;
}

.search-bar {
  padding: 10px;
  background-color: #f5f5f5;
}

.legend {
  padding: 10px;
  background-color: #f0f0f0;
}

.content {
  flex: 1; /* Take up remaining space */
  display: flex;
  flex-direction: row;
  overflow: hidden; /* Prevent overflow */
}

.graph-container {
  flex: 3; /* Graph takes 3/4 of the space */
  position: relative;
  height: 100%; /* Ensure it takes full height from parent */
}

.node-details-container {
  flex: 1; /* Node details take 1/4 of the space */
  border-left: 1px solid #ddd;
  padding: 10px;
  overflow-y: auto;
}

.new-threat-form {
  padding: 10px;
  background-color: #f5f5f5;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  
  .graph-container, .node-details-container {
    flex: none;
    height: 400vh; /* Each takes half of the viewport height */
  }
}